@use "../scss/global/index" as *;
@use "../scss/partials/index" as *;
@use "../scss/partials/index" as *;

.banner {
  &__container {
    @include breakpoint(desktop1200) {
      max-width: size(1180);
    }
  }

  &__content {
    padding: 0;
  }

  &__title {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: size(40);
    line-height: size(60);
    letter-spacing: 0%;
    @include breakpoint(desktop1200) {
      font-family: Inter;
      font-weight: 700;
      font-style: Bold;
      font-size: 80px;
      leading-trim: NONE;
      line-height: 90px;
      margin-bottom: size(30);
      letter-spacing: 0%;
    }
  }

  &__element {
    padding: size(5);
    @include breakpoint(mobile480) {
      max-width: size(480);
      width: 100%;
    }
    img {
      width: 100%;
    }
  }

  &__description {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: size(16);
    line-height: 30px;
    color: #000000;
    letter-spacing: 0%;
    @include breakpoint(desktop1200) {
      width: size(461);
      font-size: size(18);
      margin-top: size(50) !important;
    }
  }

  &__actions {
    @include breakpoint(desktop1200) {
      margin-top: size(50) !important;
    }
  }

  &__button {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: size(15);
    line-height: 100%;
    letter-spacing: 0%;
    &--primary {
      border-radius: size(40);
      padding: size(5) size(15);
      border: none;
      background: #54bd95;
      color: white;
      @include breakpoint(desktop1200) {
        width: size(165);
        height: size(62);
        font-size: size(18);
      }
    }
  }

  &__demo {
  }

  &__demo-text {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: size(16);
    line-height: 100%;
    letter-spacing: 0%;
    @include breakpoint(desktop1200) {
      font-size: size(18);
    }
  }

  &__visual {
    width: size(340);
    margin: 0 auto;
    @include breakpoint(desktop1200) {
      width: size(410);
      height: size(526);
    }
  }

  &__main-image {
    width: 100%;
  }

  &__card {
    top: size(220);
    right: size(-10);
    width: size(100);
    @include breakpoint(desktop1200) {
      width: size(146);
      top: size(290);
      left: size(332);
    }
  }

  &__dolar {
    left: size(-5);
    bottom: size(10);
    width: size(100);
    @include breakpoint(desktop1200) {
      width: size(138);
      bottom: size(35);
      left: size(-70);
    }
  }

  &__icon {
    top: size(5);
    right: size(-5);
    width: size(40);
    @include breakpoint(desktop1200) {
      top: size(26);
      left: size(365);
      width: size(60);
    }
    &--secondary {
      bottom: size(-20);
      right: size(60);
      @include breakpoint(desktop1200) {
        bottom: size(0);
      }
    }
  }

  &__vector {
    width: size(35);
    padding: size(10);
    border-radius: 10px;
    rotate: 15deg;
    top: size(100);
    left: size(-5);
    background: #4535af;
    @include breakpoint(desktop1200) {
      left: size(-30);
      top: size(173);
    }
  }
}
